/* base.css, part of YUI's CSS Foundation */
* {
	margin: 0;
}
h1 {
	/*18px via YUI Fonts CSS foundation*/
	font-size:138.5%;  
}
h2 {
	/*16px via YUI Fonts CSS foundation*/
	font-size:123.1%; 
}
h3 {
	/*14px via YUI Fonts CSS foundation*/
	font-size:108%;  
}
h1,h2,h3 {
	/* top & bottom margin based on font size */
	margin:1em 0;
}
h1,h2,h3,h4,h5,h6,strong {
	/*bringing boldness back to headers and the strong element*/
	font-weight:bold; 
}
abbr,acronym {
	/*indicating to users that more info is available */
	border-bottom:1px dotted #000;
	cursor:help;
} 
em {
	/*bringing italics back to the em element*/
	font-style:italic;
}
blockquote,ul,ol,dl {
	/*giving blockquotes and lists room to breath*/
	margin:1em;
}
ol,ul,dl {
	/*bringing lists on to the page with breathing room */
	margin-left:2em;
}
ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;	
}
ul li {
	/*giving UL's LIs generated disc markers*/
	list-style: disc outside;
}
dl dd {
	/*giving UL's LIs generated numbers*/
	margin-left:1em;
}
th,td {
	/*borders and padding to make the table readable*/
	border:1px solid #000;
	padding:.5em;
}
th {
	/*distinguishing table headers from data cells*/
	font-weight:bold;
	text-align:center;
}
caption {
	/*coordinated marking to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}
p,fieldset,table {
	/*so things don't run into each other*/
	margin-bottom:1em;
}
img {
	border: none;
}
a {
	color: inherit;
}
/* base css end */



html, body {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	color: #000;
	background-color: #fff;
	font-size: 16px;
	font-family: 'Aldrich', sans-serif;
	text-shadow: 1px 1px 2px #022747;
	height: 100%;
}


.srcjs {
}
	.srcjsMPH {
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		overflow: auto;
	}
	.srcjsHeader {
	}
	
	#srcjsLogin {
		margin: 20px;
	}
		#srcjsLogin fieldset {
			border: none;
			width: 300px;
			margin: auto;
		}
		#srcjsLogin label {
			display: block;
			margin: 10px 0;
		}
			#srcjsLogin label input {
				width: 200px;
				float: right;
				border: 1px inset #ccc;
				-moz-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
				box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
			}
		#srcjsLogin button {
			float: right;
			clear: both;
		}
	#srcjsLoginIFrame {
		display: none;
	}
	#srcjsInterface {
		display: none;
	}
	.srcjs > h1 {
		margin: 24px;
	}
	.srcjs > h5 {
		margin: 10px 20px;
	}
	.srcjs button {
		font-family: 'Aldrich', sans-serif;
		
	}
	.srcjs button {
		color: #444;
		padding: 4px 8px;
		font-size: 1em;
		border: 1px solid #aaa;
		border-left-color: #bbb;
		border-top-color: #bbb;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background: #f5f5f5; /* Old browsers */
		background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f5f5f5 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f5f5f5 0%,#f1f1f1 100%); /* Opera11.10+ */
		background: linear-gradient(top, #f5f5f5 0%,#f1f1f1 100%); /* W3C */
	}
		.srcjs button:hover {
			color: #222;
			-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
		}
		.srcjs button:active {
			border-left-color: #888;
			border-top-color: #888;
			border-right-color: #bbb;
			border-bottom-color: #bbb;
			-moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
			box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
		}
		.srcjs button[disabled] {
			color: #aaa;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	.srcjs input[type=number] {
		width: 36px;
	}
.srcjsRound {
	-moz-border-radius: .6em;
	border-radius: .6em;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.srcjsRoundTop {
	-moz-border-radius-topleft: .6em;
	border-top-left-radius: .6em;
	-moz-border-radius-topright: .6em;
	border-top-right-radius: .6em;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.srcjsRoundBottom {
	-moz-border-radius-bottomleft: .6em;
	border-bottom-left-radius: .6em;
	-moz-border-radius-bottomright: .6em;
	border-bottom-right-radius: .6em;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.srcjsPanelTitleIcon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #666;
	background: rgba(0, 0, 0, .4);
	background-image: url(icons.png);
	background-repeat: no-repeat;
	background-position: 0px -22px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.4);
	box-shadow: 0 1px 0 rgba(255,255,255,.4);
	margin: 0 10px -3px 0px;
	cursor: pointer;
}
	@-webkit-keyframes rotate {
	  from {
	    -webkit-transform: rotate(360deg);
	  }
	  to { 
	    -webkit-transform: rotate(0deg);
	  }
	}
	.srcjsPanelTitleIconBusy {
		-webkit-animation-name: rotate;
	    -webkit-animation-duration: 0.25s;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-timing-function: linear;
	    -moz-transform: scale(0.8);
	}
	.srcjsPanelTitleIconRight {
		float: right;
	}
	.srcjsPanelTitleIcon-back {
		background-position: 0px -22px;
	}
	.srcjsPanelTitleIcon-reload {
		background-position: -96px -22px;
	}
.srcjsPanel {
	background-color: #fff;
}
	.srcjsPanel h3 {
		border: 1px solid #456F9A;
		border-bottom: none;
		background: #5E87B0;
		color: white;
		text-shadow: 0 -1px 1px #254F7A;
		margin: 0;
		padding: .5em 0 15px .5em;
		font-size: 14px;
		font-weight: bold;
		background-image: -webkit-linear-gradient(top,#81a8ce,#5e87b0);
		background-image: -moz-linear-gradient(top,#81a8ce,#5e87b0);
		background-image: -ms-linear-gradient(top,#81a8ce,#5e87b0);
		background-image: -o-linear-gradient(top,#81a8ce,#5e87b0);
		background-image: linear-gradient(top,#81a8ce,#5e87b0);
	}
	.srcjsPanel h6 {
		border: 1px solid #aaa;
		border-top: none;
		margin: 0;
		padding: .5em 15px;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
	}
	.srcjsPanelBody {
		border: 1px solid #aaa;
		border-top: none;
		border-bottom: none;
	}
	
.srcjsSplitPanel {
	overflow: auto;
}
	.srcjsSplitPanel > * {
		display: block;
		float: left;
	}
	
.srcjsConsole {
}
	.srcjsConsoleLines {
		width: 100%;
		border: none;
		margin: 0;
		padding: 0;
		min-height: 100px;
		background-color: #000;
		font-family: 'Droid Sans Mono', sans-serif;
		font-size: 12px;
		text-shadow: none;
		overflow: auto;
		overflow-y: scroll;
	}
		.srcjsConsoleLines div {
			white-space: pre;
			color: white;
		}
			.srcjsConsoleLines div.error {
				color: #faa;
			}
			.srcjsConsoleLines div.system {
				color: #2EFE2E;
			}
			.srcjsConsoleLines div.warn {
				color: #F7FE2E;
				font-weight: bold;
			}
		.srcjsConsoleLines::-webkit-scrollbar {
			width: 10px;
			height: 12px;
		}
		.srcjsConsoleLines::-webkit-scrollbar-track {
			background-color: #000;
		}
		.srcjsConsoleLines::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: rgba(255,255,255,0.75);
			margin: 0 1px;
		}
		.srcjsConsoleLines .color-0 {
			color: #000000;
		}
		.srcjsConsoleLines .color-1 {
			color: #0000aa;
		}
		.srcjsConsoleLines .color-2 {
			color: #00aa00;
		}
		.srcjsConsoleLines .color-3 {
			color: #00aaaa;
		}
		.srcjsConsoleLines .color-4 {
			color: #aa0000;
		}
		.srcjsConsoleLines .color-5 {
			color: #aa00aa;
		}
		.srcjsConsoleLines .color-6 {
			color: #ffaa00;
		}
		.srcjsConsoleLines .color-7 {
			color: #aaaaaa;
		}
		.srcjsConsoleLines .color-8 {
			color: #555555;
		}
		.srcjsConsoleLines .color-9 {
			color: #5555ff;
		}
		.srcjsConsoleLines .color-a {
			color: #55ff55;
		}
		.srcjsConsoleLines .color-b {
			color: #55ffff;
		}
		.srcjsConsoleLines .color-c {
			color: #ff5555;
		}
		.srcjsConsoleLines .color-d {
			color: #ff55ff;
		}
		.srcjsConsoleLines .color-e {
			color: #ffff55;
		}
		.srcjsConsoleLines .color-f {
			color: #ffffff;
		}
		
		.srcjsConsoleLines .color-esc-31 {
			color: #ff5555;
		}
		.srcjsConsoleLines .color-esc-32 {
			color: #55ff55;
		}
		.srcjsConsoleLines .color-esc-33 {
			color: #FFFF55;
		}
		.srcjsConsoleLines .color-esc-34 {
			background: white;
			color: black;
		}		
		.srcjsConsoleLines .color-esc-35 {
			color: #aa00aa;
		}
		.srcjsConsoleLines .color-esc-36 {
			color: #55ffff;
		}
		.srcjsConsoleLines .color-esc-37 {
			color: #ffffff;
		}
		.srcjsConsoleLines .color-esc-38 {
			background: white;
			color: black;
		}
		.srcjsConsoleLines .color-esc-39 {
			background: white;
			color: black;
		}
		.srcjsConsoleLines .color-esc-40 {
			background: white;
			color: black;
		}
		.srcjsConsoleLines .color-esc-41 {
			background: white;
			color: black;
		}
		.srcjsConsoleLines .color-esc-42 {
			background: white;
			color: black;
		}
		.srcjsConsoleLines .color-esc-43 {
			background: white;
			color: black;
		}
		.srcjsConsoleLines .color-esc-44 {
			background: white;
			color: black;
		}
		.srcjsConsoleLines .color-esc-45 {
			background: white;
			color: black;
		}
		.srcjsConsoleLines .color-esc-46 {
			background: white;
			color: black;
		}
	.srcjsInput {
	}
		.srcjsInputWrapper {
			margin-right: 42px;
			border: 1px inset #ccc;
			height: 30px;
			-moz-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
			box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
			background-color: #fff;
		}
		.srcjsInputWrapper input {
			display: block;
			width: 100%;
			height: 100%;
			border: none;
			font-size: 1.25em;
			font-family: 'Droid Sans Mono', sans-serif;
			background-color: transparent;
		}
		.srcjsInputButton {
			width: 42px;
			height: 32px;
			float: right;
		}
.srcjsListBox {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.srcjsListBox li {
		display: block;
		padding: .7em 15px;
		border-top: 1px solid #CCC;
		background: #EEE;
		font-weight: bold;
		color: #444;
		text-shadow: 0 1px 1px #F6F6F6;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));
		background-image: -webkit-linear-gradient(top,#fdfdfd,#eee);
		background-image: -moz-linear-gradient(top,#fdfdfd,#eee);
		background-image: -ms-linear-gradient(top,#fdfdfd,#eee);
		background-image: -o-linear-gradient(top,#fdfdfd,#eee);
		background-image: linear-gradient(top,#fdfdfd,#eee);
		font-family: Helvetica,Arial,sans-serif;
	}
	.srcjsListBox li:last-child {
		border-bottom: 1px solid #CCC;
	}
.srcjsListBoxFormatted {
	display: table;
	width: 100%;
}
	.srcjsListBoxFormatted li {
		display: table-row;
		border: none;
	}
		.srcjsListBoxFormatted li > * {
			display: table-cell;
			padding: .7em 0;
			border-top: 1px solid #CCC;
		}
		.srcjsListBoxFormatted li > *:first-child {
			padding-left: 15px;
		}
		.srcjsListBoxFormatted li > *:last-child {
			padding-right: 15px;
		}
		.srcjsListBoxFormatted li img {
			vertical-align: middle;
		}
	.srcjsListBox li:last-child > * {
		border-bottom: 1px solid #CCC;
	}
.srcjsListBoxLinksFormatted {
}
	.srcjsListBoxLinksFormatted li {
		cursor: pointer;
	}
		.srcjsListBoxLinksFormatted li:hover {
background: #eeeeee;
background: -moz-linear-gradient(top, #eeeeee 0%, #e2e2e2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e2e2e2));
background: -webkit-linear-gradient(top, #eeeeee 0%,#e2e2e2 100%);
background: -o-linear-gradient(top, #eeeeee 0%,#e2e2e2 100%);
background: -ms-linear-gradient(top, #eeeeee 0%,#e2e2e2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e2e2e2',GradientType=0 );
background: linear-gradient(top, #eeeeee 0%,#e2e2e2 100%);
		}
		.srcjsListBoxLinksFormatted li:active {
			background-image: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#fdfdfd));
			background-image: -webkit-linear-gradient(top,#eee,#fdfdfd);
			background-image: -moz-linear-gradient(top,#eee,#fdfdfd);
			background-image: linear-gradient(top,#eee,#fdfdfd);
		}
	
.srcjsLoadGraph {
	height: 100px;
	position: relative;
}
	.srcjsLoadGraphLegend {
		height: 1px;
		width: 100%;
		background: #aaa;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
	.srcjsLoadGraphLegend-25 {
		top: 75%;
	}
	.srcjsLoadGraphLegend-50 {
		top: 50%;
	}
	.srcjsLoadGraphLegend-75 {
		top: 25%;
	}
	.srcjsLoadGraphContainer {
		height: 100%;
		background-color: black;
		z-index: 0;
	}
	.srcjsLoadGraphTick {
		display: inline-block;
		margin: 0 1%;
		width: 3%;
		height: 100%;
		position: relative;
	}
	.srcjsLoadGraphTickFill {
		position: absolute;
		left: 0;
		bottom: 0;
		display: inline-block;
		height: 100%;
		width: 100%;
		-moz-border-radius: 4px;
		border-radius: 4px;
		z-index: 4;
		background-color: #c00;
	}
	
	.srcjsControl {
		padding: 2px 0;
	}
		.srcjsProcessControl, .srcjsAppControl {
			display: inline;
			margin-right: 10px;
		}

	.srcjsIcon {
		width: 22px;
		height: 22px;
		background-image: url('icons.png');
		background-repeat: no-repeat;
		vertical-align: text-bottom;
	}
		.srcjsIconLogin {
			background-position: 0 0;
		}
		.srcjsIconStart {
			background-position: -22px 0;
		}
		.srcjsIconStop {
			background-position: -44px 0;
		}
		.srcjsIconHUP {
			background-position: -66px 0;
		}
		.srcjsIconInput {
			background-position: -88px 0;
		}

	.srcjsTabs {
		padding: 0 20px;
		border-bottom: 1px solid #bbb;
		cursor: default;
		margin-bottom: 20px;
	}
		.srcjsTabs button {
			border-bottom: none;
			-moz-border-radius-topleft: 2px;
			-moz-border-radius-topright: 2px;
			-moz-border-radius-bottomright: 0px;
			-moz-border-radius-bottomleft: 0px;
			-webkit-border-radius: 2px 2px 0px 0px;
			border-radius: 2px 2px 0px 0px;
			border-color: #aaa;
			border-left-color: #bbb;
			border-top-color: #bbb;
		}
			.srcjs button.active {
				border-left-color: #888;
				border-top-color: #888;
				border-right-color: #bbb;
				border-bottom-color: #bbb;
				-moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
				box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
			}
	.srcjsTabPanels {
		width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
	}
	
.srcjsInventory {
	border-collapse: collapse;
}

.srcjsTable {
	padding-bottom: 1em;
}
	.srcjsTable h4 {
		padding: 0.1em 0.5em;
		border-top: 1px solid #CCC;
		background: #BBB;
		color: #333;
		text-shadow: 0 1px 0 #EEE;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#ddd),to(#bbb));
		background-image: -webkit-linear-gradient(top,#ddd,#bbb);
		background-image: -moz-linear-gradient(top,#ddd,#bbb);
		background-image: -ms-linear-gradient(top,#ddd,#bbb);
		background-image: -o-linear-gradient(top,#ddd,#bbb);
		background-image: linear-gradient(top,#ddd,#bbb);
	}
	.srcjsTable table {
		width: 100%;
		border-collapse: collapse;
		margin: 0;
	}
		.srcjsTable table tr {
			border: 1px solid #CCC;
			border-left: none;
			border-right: none;
			background: #EEE;
			font-weight: bold;
			color: #444;
			text-shadow: 0 1px 1px #F6F6F6;
			background-image: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));
			background-image: -webkit-linear-gradient(top,#fdfdfd,#eee);
			background-image: -moz-linear-gradient(top,#fdfdfd,#eee);
			background-image: -ms-linear-gradient(top,#fdfdfd,#eee);
			background-image: -o-linear-gradient(top,#fdfdfd,#eee);
			background-image: linear-gradient(top,#fdfdfd,#eee);
		}
		.srcjsTable table th, .srcjsTable table td {
			border: none;
		}
		
.srcjsItem {
	display: block;
	position: relative;
	width: 32px;
}
	.srjcsItemAmount {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 0.75em;
	}
	.srjcsItemDurability {
		display: block;
		border: 1px solid #888;
		height: 4px;
	}
		.srjcsItemDurabilityMeter {
			display: block;
			background-color: green;
			height: 4px;
		}